@import "../../scss/variables";

.task {
  padding: 10px;
  width: 270px;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-top: 8px;
  background-color: white;
}

.taskDescription {
  width: 230px;
  height: auto;
  overflow-wrap: break-word;
}
