@import "../../scss/variables.scss";

.listItem {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 15px;
  margin: $margin;
  border-radius: $border-radius;
  background-color: $grey-accent;
}

.listName {
  font-size: 1.5em;
  height: 1.5em;
  overflow: auto;
}
