@import "../../scss/variables.scss";

.listItem {
  display: flex;
  flex-direction: column;
  height: 672px;
  width: 290px;
  padding: 10px;
  margin-left: $margin;
  margin-left: $margin;
  margin-bottom: $margin;
  border-radius: $border-radius;
  background-color: $grey-accent;
}

.taskArea {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  white-space: normal;
}

.listName {
  font-weight: bold;
}
