// @import "../../scss/variables";

.addButton {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 44px;
  max-width: 290px;
  & :hover {
    opacity: 0.5;
  }
}

.renderForm {
  min-height: 44px;
  max-width: 270px;
  outline: none;
}

.buttonGroup {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
