@import "../../scss/variables.scss";

.board {
  border: 1px solid red;
}

.boardTitle {
  font-size: 2em;
}

.listArea {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
}

.newList {
  height: fit-content;
  width: fit-content;
  display: flex;
}
